*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    margin: 95px 23%;
    background: linear-gradient( #c093b3,#632f60);
    height: 75vh;
}
.container{
    display: grid;
    grid-template-columns: 300px 500px;
    width: 800px;
    border: 1px solid black;
    background-color: white;
    border: none;
    border-radius: 30px;
}
#image1{
    width: 100%;
    height:100%;
    border-radius: 30px;
}
#name{
    color: rgb(255, 246, 246);
    font-size: 10px;
    font-weight: bold;
}
#para1{
    color: rgb(255, 246, 246);
    font-weight: bold;
    font-size: 16px;
    width:90%;
    letter-spacing:1px;
    line-height: 26px;
}
#para2{
    color: rgb(255, 246, 246);
    font-weight: bold;
    font-size: 8px;
}
.image-container{
    position: relative;
}
#pa1{
    position: absolute;
    top:10px;
    left:30px;
}
#pa2{
    position: absolute;
    top: 55px;
    left: 30px;
}
#pa3{
    position: absolute;
    bottom:20px;
    left:30px;
}
.form-container{
    background-color: white;
    padding-inline: 80px;
    padding-block: 60px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}
#form-start{
    font-size: 10px;
}
#form-start span{
    border-top: .1px solid black;
    padding-top: 1px;

}
#form-name1{
    font-size: 20px;
    font-weight: bolder;
}
#Singup-btn1,#Singup-btn2{
    padding-block:8px;
    padding-inline:16px;
    font-size: 12px;
    background-color: #5e3998;
    font-weight: bold;
    color: white;
    border-radius: 30px;
    border: none;
    margin-block: 10px;
    cursor: pointer;
    margin-right: 10px;
}
#Singup-btn2{
    background-color:#e8e1f4;
    color: black;
}
#feild{
    margin-block: 8px;
}
label{
    font-size: 16px;
    font-weight:500;
}
.input1{
    width: 90%;
    padding: 5px;
    border-radius: 30px;
    border: none;
    margin-top: 1px;
    padding-left: 10px;
    background-color: #f2eff8;
}
#feild2{
    display: flex;
    margin-left: 3px;
    column-gap: 5px;
    margin-bottom: 5px;
}
#sumbit-btn{
    width: 90%;
    padding-block: 8px;
    border-radius: 30px;
    font-size: 14px;
    font-weight: bolder;
    background-color:#18003e;
    color: white;
    border: none;
    cursor: pointer;
    margin-block: 2px;
}
#para3{
    font-size: 13px;
    margin-top: 2px;
    margin-left: 5px;
}