*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    margin: 100px 20%;
    background: linear-gradient( #c093b3,#632f60);
    height: 75vh;
}
.container{
    display: grid;
    grid-template-columns: 300px 550px;
    width: 880px;
    border: 1px solid black;
    background-color: white;
    border: none;
    border-radius: 30px;
}
#image1{
    width: 100%;
    height:450px;
    border-radius: 30px;
}
#name{
    color: rgb(255, 246, 246);
    font-size: 10px;
    font-weight: bold;
}
#para1{
    color: rgb(255, 246, 246);
    font-weight: bold;
    font-size: 16px;
    width:90%;
    letter-spacing:1px;
    line-height: 26px;
}
#para2{
    color: rgb(255, 246, 246);
    font-weight: bold;
    font-size: 8px;
}
.image-container{
    position: relative;
}
#pa1{
    position: absolute;
    top:10px;
    left: 10px;
}
#pa2{
    position: absolute;
    top: 48px;
    left: 30px;
}
#pa3{
    position: absolute;
    bottom:20px;
    left:30px;
}
.form-container{
    background-color: white;
    padding-left: 100px;
    padding-top: 100px;
}
#form-name1{
    font-size: 20px;
    font-weight: bolder;
}
#Singup-btn1,#Singup-btn2{
    padding-block:5px;
    padding-inline:10px;
    font-size: 12px;
    background-color: #5e3998;
    font-weight: bold;
    color: white;
    border-radius: 30px;
    border: none;
    margin-block: 10px;
    cursor: pointer;
}
#Singup-btn2{
    background-color:#e8e1f4;
    color: black;
}